*,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.main__container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.card__main {
  min-width: 100vw;
  width: 100vh;
  /* border: 5px solid green; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
}

.card__main img {
  animation: shake 3s infinite;
  image-rendering: pixelated;
  width: 35%;
  text-shadow: 10px 10px 10px #000;
}

.innerdiv {
  position: absolute;
  top: 100px;
  right: 10%;
}
.innerdiv h1 {
  font-size: 125px;
  font-weight: bold;

  background: #ee0979;
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
  background: linear-gradient(to right, #ff6a00, #ee0979);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: change 2s infinite;
}

@keyframes change {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}
@keyframes shake {
  0% {
    transform: translate(5px, 3px);
  }
  25% {
    transform: translate(-4px, 1px);
  }
  50% {
    transform: translate(3px, -4px);
  }
  75% {
    transform: translate(-3px, 4px);
  }
  99% {
    transform: translate(5px, 3px);
  }
}
